label > img{
    border: 1px solid blue;
    cursor: pointer;
    height: 70%;
    width: 15svh;
    padding: 50%;
    display: flex;
}

#check_menu{
    display: none;
}

#label_check{
    width: 26px;
    height: 100%;
    display: none;
}

@media screen and (max-width: 720px) {
    .header_superior{
        height: 60%;
        justify-content: center
    }
    
    #label_check{
        display: block;
    }

    nav > ul{
        flex-direction: column;
        background-color: red;
        position: fixed;
        top:32svh;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

    #check_menu:checked ~ nav > ul{
        height: 30svh;
        visibility: visible;
        opacity: 1;
    }

    .desplegable li{
        display: none;
    }

    .search input{
        display: none;
    }
}