label > img{
    cursor: pointer;
    width: 100%;
    display: flex;
}

#check_menu{
    display: none;
}

#label_check{
    width: 8%;
    aspect-ratio: 10/10;
    display: none
}

@media screen and (max-width: 720px) {
    .header_superior{
        justify-content: center
    }
    
    #label_check{
        display: block;
    }

    nav > ul{
        flex-direction: column;
        background-color: var(--color-menu);
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0;
        visibility: hidden;
    }

    #check_menu:checked ~ nav > ul{
        visibility: visible;
        opacity: 1;
    }

    header li{
        width: 100%;
        text-align: center;
    }

    nav > ul  li:hover{
        transform: scale(1);
        box-shadow: 0px 0px 1px 0px;
    }

    .desplegable li{
        display: none;
    }

    .search input{
        display: none;
    }
}