footer{
    background: black;
    color:aliceblue;
    text-align: center;
}

.conteiner_footer{
    display: flex;
    width: 100%;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer h3{
    font-size: 2.5rem;
    padding: 10px;
}

.conteiner_footer img{
    width: 100%;
    height: auto;
}

.conteiner_footer div{
    max-width: 200px;
    flex-grow: 1;
}
