@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url("./header/header.css");
@import url("./header/headerSmall.css");
@import url("./main/grid/grid.css");
@import url("./main/grid/gridMedium.css");
@import url("./main/pages.css");
@import url("./footer/footer.css");


:root{
    /* --color-fondo:rgba(247, 200, 177,0.8);
    --color-menu:#de4a00;
    --color-principal:#ff7f50;
    --color-secundario:rgba(173, 216, 230, 0.7);
    --color-terciario:#ffa500;
    --color-titulo:#ff0000;
    --color-letra:#fff; */

    --color-fondo:rgba(255, 207, 150,0.8);
    --color-menu:rgba(255, 128, 128,0.9);
    --color-principal:rgb(246, 253, 195);
    --color-secundario:rgba(205, 250, 213,0.6);
    --color-terciario:#ffa500;
    --color-letra:#fff;
    
    --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    --text-shadow:-1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;;
    
    --letra: 'Kalam', cursive;
    --letraT: 16px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none /*!important */; /*acto de desesperacion por si no encuentro forma de arreglo por el boostrap, aunque tambien se puede deber a que vale 0 esto en jerarquia*/
    transition: all 300ms ease-in-out;
    scroll-behavior: smooth; /*no me gusta, solo quiero que sea para el id Contacto pero no funciona*/
}

body{
    font-family:var(--letra);
    font-size: var(--letraT);

    background-image: url("/assets/media/imagen/Fondo1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h2{
    color:var(--color-menu);
    position: sticky;
    top: 2rem;
    text-shadow: var(--text-shadow);
    text-align: center;
    z-index: 2;
}

h3{
    color:var(--color-principal);
}