@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url("./header/header.css");
@import url("./header/headerSmall.css");
@import url("./footer/footer.css");
@import url("./footer/footerSmall.css");
@import url("./main/grid/grid.css");
@import url("./main/grid/gridMedium.css");
/* @import url("./main/grid/gridSmall.css"); */
@import url("./main/pages.css");


:root{
    --color: ;
    --letra: 'Kalam', cursive;
    --letraT: 16px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none /* !important */; /*acto de desesperacion por si no encuentro forma de arreglo por el boostrap, aunque tambien se puede deber a que vale 0 esto en jerarquia*/
    transition: all 300ms ease-in-out;
}

body{
    font-family:var(--letra);
    font-size: var(--letraT);
    text-decoration: none;
}