.muestras{
    text-align: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 4rem;
    padding: 5%;
    gap: 2rem;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
}

.muestras > section{
    height: 45svh;
    border: 5px solid var(--color-principal);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.muestras > section:nth-child(1){
    background-image: url("/assets/media/imagen/pepas.webp");
    grid-area: a;
}

.muestras > section:nth-child(2){
    background-image: url("/assets/media/imagen/masitasVienesas.webp");
    grid-area: b;
}

.muestras > section:nth-child(3){
    background-image: url("/assets/media/imagen/cookiesConChips.webp");
    grid-area: c;
}

.muestras > section:nth-child(4){
    background-image: url("/assets/media/imagen/lemonPie.webp");
    grid-area: d;
}

.muestras > section:nth-child(5){
    background-image: url("/assets/media/imagen/tartaDeManzana.web.jpg");
    grid-area: e;
}

.muestras > section:nth-child(6){
    background-image: url("/assets/media/imagen/budinDeCitricos.webp");
    grid-area: f;
}

.muestras > section:nth-child(7){
    background-image: url("/assets/media/imagen/budinIngles.webp");
    grid-area: g;
}

.muestras > section:nth-child(8){
    background-image: url("/assets/media/imagen/budinMarmolado.webp");
    grid-area: h;
}

.muestras > section:nth-child(9){
    background-image: url("/assets/media/imagen/tortaBrowniePirineos.jpg");
    grid-area: i;
}

.muestras section > a{
    display: flex;
    height: 100%;
    width: 100%;
}

.muestras a > p{
    align-self: flex-end;
    background-color:var(--color-secundario);
    color: var(--color-letra);
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    display: flex;
}

.muestras a:hover p{
    transition: all 400ms ease-in-out;
    opacity: 1;
    visibility: visible;
}

.muestras > a{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-principal);
    border-radius: 10px;
}
