.pages{
    height: auto;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.pages section{
    background-color: var(--color-fondo);
    box-shadow: var(--box-shadow);
    padding: 5svh;
    margin-top: 7svh;
    margin-bottom: 7svh;
}

.pages img {
    width: 80%;
    aspect-ratio: 16/9;
    border: 5px solid var(--color-terciario);
}

.pages ul, .pages h3, .pages ol, .pages p{
    text-align: left;
    margin:10px 0px;
}

@media screen and (max-width: 720px) {
    .pages img {
        width: 100%;
    }

    .pages h2{
        position: static;
        top: auto;
    }
}