section{
    margin: 10svh 0;
}

section > h2{
    margin-bottom: 5svh;
}

.divClases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.divClases a {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    border: 5px solid var(--color-principal);
}

.divClases img {
    display: block;
    margin: 0;
    padding: 0;
    width:300px;
    aspect-ratio: 10/10;
  }
  
.divClases p {
    position: absolute;
    bottom: 0;
    background-color: var(--color-secundario);
    color: var(--color-letra);
    text-align: center; /*esto centra al medio el texto*/
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center; /*esto en el eje y*/
    align-items: center; /*y*/
    opacity: 0;
}
  
.divClases > a:hover p {
    opacity: 1;
}
  
  

@media screen and (max-width: 720px) {
    .divClases img{
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .divClases img{
        width: 100%;
    }

    .divClases p{
        opacity: 1;
    }
}

.botones{
    display: flex;
    justify-content: space-between;
}

.botones > a{
    text-align: center;
    border: 1px solid orange;
    border-radius: 30px;
    background-color: var(--color-secundario);
    padding: 10px;
    margin: auto;
    width: 100px;
}